<!DOCTYPE html>
<!--
 Part of Pleiar.no - a collection of tools for nurses

 Copyright (C) Eskild Hustvedt 2017-2018
 Copyright (C) Fagforbundet 2019

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.

 -->
<html lang="nn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.pleiar.no/fbed.jpg" />
    <meta property="og:description" content="En samling verktøy, oppslagsverktøy og andre ressurser til hjelp for pleiepersonell som sykepleiere, vernepleiere, hjelpepleiere og helsefagarbeidere, fra Fagforbundet" />
    <meta name="description" content="En samling verktøy, oppslagsverktøy og andre ressurser til hjelp for pleiepersonell som sykepleiere, vernepleiere, hjelpepleiere og helsefagarbeidere, fra Fagforbundet" />
    <meta name="robots" content="noarchive" />
    <link rel="icon" sizes="32x32" href="/ticon32x.png" />
    <link rel="icon" sizes="192x192" href="/ticon192x.png" />
    <link rel="icon" sizes="400x400" href="/ticon400x.png" />
    <link rel="icon" sizes="512x512" href="/ticon512x.png" />
    <link rel="apple-touch-icon" href="/apple-ticon192x.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/apple-ticon450x.png" />
    <meta name="apple-mobile-web-app-title" content="Pleiar.no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-startup-image" href="/ticon512x.png" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="manifest" href="/appmanifest.json" />
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.dataConfig.themeColor %>"/>
    <!-- Prefetch hack until webpack properly fetches modules referenced by the main chunks -->
    <link rel="preload" href="/<%= webpack.assetsByChunkName['search-index'] %>" as="script" />
    <title>Pleiar.no</title>
	<% for (var css in htmlWebpackPlugin.files.css) { %>
	<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
	<% } %>
</head>
<body>
    <!-- This will be replaced during compilation with the actual content -->
    <noscript></noscript>
    <div id="root"></div>
    <!-- This loads polyfills for IE. "nomodule" means it will only load in
        browsers that don't support ES2015 modules. nomdule will prevent loading
        in all modern browsers (FF60+, Chrome 61+/Edge Blink) and legacy Edge(16+).
        This will, if needed, load before everything else. -->
    <script nomodule src="/babel-polyfill.min.js"></script>
	<%
    for (var chunk in htmlWebpackPlugin.files.chunks)
    {
        if(/(design|style)\.js/.test(htmlWebpackPlugin.files.chunks[chunk].entry))
        {
            continue;
        }
        %>
	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>

	<% if (htmlWebpackPlugin.options.devServer) { %>
	<script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
	<% } %>
	<%
	if(htmlWebpackPlugin.options.dataConfig.footer) {
	%>
		<%= htmlWebpackPlugin.options.dataConfig.footer %>
	<%
	}
	%>
</body>
</html>
