/*
 * Part of Pleiar.no - a collection of tools for nurses
 *
 * Copyright (C) Eskild Hustvedt 2017-2018
 * Copyright (C) Fagforbundet 2019
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

/*
 * Loads vars, functions and mixins from bootstrap.
 * Bootstrap itself is loaded from bootstrap.scss
 */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$searchEntryMarginBottom: 1em;

/*
 * Helper that auto-builds prefixed (and unprefixed) versions of a property.
 * Use: @include prefix(some-property, some-value);
 *
 * It will output moz-, ms- and webkit-prefixed variants.
 */
@mixin prefix($property, $value) {
  $prefixes: ("ms","webkit","moz");
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

// Our custom styles
body
{
    // The background color for the non-content areas
    background-color:#eeeeec;
    // Our core content wrapper
    .contentWrapper
    {
        .mainContent
        {
            min-height:600px;
            padding-top:1em;
        }
        background-color:white;
        footer
        {
            .version-info
            {
                margin-top:1em;
                border-top: 1px solid $gray-200;
                padding-top:1em;
                text-align:center;
            }
        }
        p,div.div-like-p
        {
            margin-top:0;
            margin-bottom:1rem;
            margin-block-start:1em;
            margin-block-end:1em;
        }
    }
    /*
     * A vertical list of links
     */
    .linkList, .basicLinkList
    {
        a
        {
            display:block;
        }
    }
    // Normalize ul and ol padding
    ul,ol
    {
        padding-left:20px;
    }
    // Obfuscation when a user is not authenticated
    .requiresAuthentication
    {
        // Padding is because the blurring effect bleeds out of its container.
        // So adding some padding ensures the .authOverlay isn't too small
        padding-left:1em;
        padding-right:1em;
        padding-bottom:1em;

        // Disable all input
        pointer-events: none;
        // Blur the text
        &,a,p,.div-like-p,.text-muted,.text-secondary,input,select,.react-select__placeholder,table,.table,td,tr,th,button,.likeLink
        {
            color: transparent !important;
            text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px !important;
        }
        // Disable user-select
        &,a,p,.div-like-p,.text-muted,.text-secondary,table,.table,td,tr,th,button,.likeLink
        {
            @include prefix(user-select,none !important);
        }
        // Dim the background of input elements
        input,.react-select__control,.form-control
        {
            background-color: inherit !important;
            border-color: $gray-400;
        }
        // Blur images as well
        img
        {
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
    }
    // The overlay displayed when a user is not authenticated
    .authOverlay
    {
        position:absolute;
        top:0px;
        z-index:999;
        width:100%;
        height:100%;
        padding: 1em;
        pointer-events: auto !important;
        img
        {
            display:block;
        }
        .loginBox
        {
            max-width:600px;
        }
    }
    // A simple inline "login" block
    .authBlock
    {
        font-style:italic;
    }
    // Reduces the small font size of navbar-brand
    .navbar-brand
    {
        small
        {
            font-size:50%;
        }
    }
    // This is a style element for having small (width) input elements as children
    .smallInputElements input
    {
        max-width:5em;
    }
    // Bold labels in forms
    .boldColLabels
    {
        .col-form-label
        {
            font-weight:bold;
        }
    }
    // Makes badges not bold
    .badgeNoBold .badge
    {
        font-weight:normal;
    }
    // Reusable "pill" element. Intended to be styled further.
    .pill
    {
        border-radius:1rem;
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }
    .link-pills .pill
    {
        cursor:pointer;
    }
    // Makes something that's not a link act like one
    .likeLink
    {
        &:hover
        {
            text-decoration: underline;
            cursor:pointer;
            color: $link-hover-color;
        }
        color: $link-color;
    }
    // Forces the cursor to be a pointer (like links)
    .force-pointer
    {
        cursor: pointer;
    }
    // Renders something like <abbr>
    .abbreviation
    {
        text-decoration: underline dotted;
        cursor: help;
        text-decoration-skip-ink: none;
    }
    // Makes a long string of text, wrapped in <a />, act like normal text,
    // while still being a link
    .linkWrapper
    {
        display:block;
        text-decoration:none;
        color: black;
        &:hover
        {
            text-decoration:none;
            color: black;
        }
    }
    // Basic styling of our SimpleAccordion
    .Accordion
    {
        .AccordionHeader
        {
            font-weight:bold;
            cursor:pointer;
        }
        .AccordionContent
        {
            > *:first-child
            {
                padding-top:1em;
            }
        }
    }
    // Workarounds for bugs in MS-browsers
    &.ms-workarounds
    {
        &.ms-edge-legacy
        {
            // Edge has trouble with number's width
            input[type="number"]
            {
                max-width:100px !important;
            }
        }
        &.ms-ie
        {
            // Surprise, surprise. IE has trouble width number's width too.
            input[type="number"]
            {
               width:60px !important;
            }
            // IE10 and IE11 has no CSS3 filter support, and had dropped the
            // MS-specific workaround that used to be viable. Thus, as a hack,
            // we just hide the image in IE. Otherwise it will just end up
            // looking weird with an almost completely-visible image behind the
            // auth overlay.
            .requiresAuthentication
            {
                img
                {
                    visibility:hidden;
                }
            }
            // They don't work in IE
            .inputMediaQueries
            {
                display:none;
            }
        }
        &.ms-ie, &.ms-edge-legacy
        {
            // Neither IE nor Edge supports :placeholder-shown
            .header-menu .topSearch input
            {
                // The media query is needed to not override fixes for tiny screens
                @media(min-width: 341px)
                {
                    width:100px;
                }
            }
        }
    }
    // Tools styling
    .app-tools
    {
        .tool-back-link
        {
            font-size:80%;
            margin-bottom:1em;
        }
    }
    // Styles for search results
    .app-search
    {
        .searchResultTypeList
        {
            margin-bottom: 2em;
        }
        .handbookSearchEntry, .toolEntry, .searchEntry, .externallyIndexedEntry, .searchMetaEntry
        {
            .handbookSearchTitle, .toolSearchTitle, .searchTitle
            {
                font-weight:bold;
            }
            .handbookDelimiter
            {
                font-size:60%;
            }
            margin-bottom: $searchEntryMarginBottom;
        }
        .otherSearchSuggestions
        {
            margin-top:2em;
            a
            {
                display:block;
            }
        }
    }
    // Styles for the external links app
    .app-external, .app-search
    {
        .externalEntry
        {
            .externalTitle
            {
                font-weight:bold;
            }
            .search-hilight
            {
                font-style:italic;
            }
            .externalURL
            {
                font-family: monospace;
                overflow-wrap:break-word;
                overflow:hidden;
            }
            .externalLanguage, .externalURL
            {
                font-size: 8pt;
                color: grey;
            }
            margin-bottom: $searchEntryMarginBottom;
            &:hover
            {
                .likeLink
                {
                    text-decoration: underline;
                    color: $link-hover-color;
                }
            }
            .linkWrapper
            {
                display:block;
                text-decoration:none;
                color: black;
                &:hover
                {
                    text-decoration:none;
                    color: black;
                }
            }
        }
        .clearSearchField
        {
            &:hover
            {
                color: red;
            }
        }
    }
    // Styles for the dictionary app
    .app-dictionary, .app-search, .app-handbook
    {
        .dictionaryEntry
        {
            .dictionaryTitle
            {
                font-weight:bold;
            }
            .search-hilight
            {
                font-style:italic;
            }
            .dictionaryURL
            {
                font-family: monospace;
                overflow-wrap:break-word;
                overflow:hidden;
            }
            .dictionaryURL
            {
                font-size: 8pt;
                color: grey;
            }
            margin-bottom: $searchEntryMarginBottom;
            .linkWrapper
            {
                display:block;
                text-decoration:none;
                color: black;
                &:hover
                {
                    text-decoration:none;
                    color: black;
                }
            }
            p
            {
                display: inline;
            }
        }
        .clearSearchField
        {
            &:hover
            {
                color: red;
            }
        }
    }
    // Styles for the handbook
    .app-handbook, .app-search, .app-quickref
    {
        .index
        {
            ol
            {
                padding-left:15px;
            }
        }
        .handbook-nav
        {
            .next
            {
                text-align: right;
            }
            .toplevel
            {
                text-align: center;
            }
        }
        .reactSelect
        {
            position: -webkit-sticky;
            position: sticky;
            top: 1em;
        }
        .react-select__control
        {
            margin-bottom:1em;
        }
        .labValueTitle
        {
            font-weight:bold;
        }
        .labValueEntry
        {
            margin-bottom: $searchEntryMarginBottom;
        }
        .labValueSecondary
        {
            font-size: 80%;
            color: $text-muted;
        }
        .labValueLiteral
        {
            white-space: pre-wrap;
            margin-left: 2em;
        }
        .labValueField
        {
            font-style: italic;
        }
        .handbookIndex > h1
        {
            margin-bottom:0.5em;
        }
        @include media-breakpoint-down(md)
        {
            .conditionallySticky
            {
                position: sticky;
                top:0px;
                z-index:99;
            }
        }
        blockquote > div
        {
            margin: 1em;
            padding: 1em;
            border: 1px solid black;
        }
    }
    // Styles for the quickref
    .app-quickref
    {
        .handbookIndex
        {
            a
            {
                font-weight:bold;
            }
        }
    }
    // Styles for the medication synonyms searcher
    .app-med-synonyms
    {
        .med-syn-header
        {
            display:block;
        }
        .med-syn-result, .med-syn-atc-warning
        {
            margin-bottom:1.5em;
        }
        .atc-code
        {
            &:hover
            {
                cursor:pointer;
            }
        }
        .med-syn-result-list
        {
            margin-top:1em;
        }
        ul
        {
            list-style: none;
            padding-left:0px;
        }
        // Small phone styles
        @media(max-width: map-get($grid-breakpoints,"sm"))
        {
            ul
            {
                list-style: disc;
                padding-left:20px;
            }
        }
    }
    // "About"-specific styles
    .app-about
    {
        .systemInfo
        {
            .hover
            {
                .yes,.no
                {
                    display:none;
                }
                @media (hover: none)
                {
                    .no
                    {
                        display:inline-block;
                    }
                }
                @media (hover: hover)
                {
                    .yes
                    {
                        display:inline-block;
                    }
                }
            }
            .pointer
            {
                .coarse,.fine,.none
                {
                    display:none;
                }
                @media(pointer:fine)
                {
                    .fine
                    {
                        display:inline-block;
                    }
                }
                @media(pointer:coarse)
                {
                    .coarse
                    {
                        display:inline-block;
                    }
                }
                @media(pointer:none)
                {
                    .none
                    {
                        display:inline-block;
                    }
                }
            }
        }
        .sourceFiles
        {
            code
            {
                display:block;
            }
        }
    }
    // Auth error styling
    .app-auth
    {
        code
        {
            font-size:0.7em;
            .err-token
            {
                font-size:0.5em;
            }
        }
    }
    // Loading component styles
    .loading
    {
        margin-top:3em;
    }
    // Styles for the medcalc
    .app-medcalc
    {
        .infusion-warning
        {
            margin-top:10px;
            font-size:80%;
        }
    }
    // Simple "card" elements
    .cardLike
    {
        border-radius:1rem;
        padding: 1em;
        background-color: white;
    }
    // Expand embedded videos
    .videoWrapper iframe
    {
        width:100%;
    }
    // Utility to avoid having an element be selectable
    .no-user-select,
    // Abreviation entries break in some browsers when selectable
    .abbreviation,
    // Also disable when prompting for authentication
    .authn
    {
        @include prefix(user-select,none);
    }
    // Utility to disable all input for an element and its descendants
    .no-pointer-events,
    // Also disable when prompting for authentication
    .authn
    {
        pointer-events: none;
    }
    // Markdown-rendered image text
    .imageContainer
    {
        p
        {
            margin:0px;
        }
        .img-text
        {
            p, .div-like-p
            {
                font-size:80%;
            }
        }
    }
    // .mobile-group is a class for keeping elements together when on mobile
    // (sets width to 100% on mobile). Should always inherit tis parents display
    // so it gets out of the way on non-mobile devices.
    .mobile-group
    {
        display:inherit;
    }
    // Makes the nav style fit the rest of the site
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link
    {
        background-color:$dark;
    }
    // Calculator styling
    .calcDescription-row
    {
        margin-top:8px;
        margin-bottom:8px;
    }
    // Nutricalc-specific styling
    .app-nutricalc
    {
        // This styles the "remove" icon of the nutricalc
        .remove-icon
        {
            &:hover
            {
                color:red;
                cursor:pointer;
            }
            // The placement is a bit tricky, this makes it look a lot better
            margin-top:0.2em;
        }
    }
    // NEWS-specific styling
    .app-news
    {
        .option-selector
        {
            select
            {
                min-width:15em;
                text-align:center;
                @media(max-width: map-get($grid-breakpoints,"md"))
                {
                    min-width: 100%;
                }
            }
        }
        $news3Color: #e98773; // red
        $news2Color: #fbc176; // orange
        $news1Color: #fff398; // yellow
        .news-level-3-bg, .news-level-2-bg, .news-level-1-bg
        {
            color:black;
        }
        .news-level-3-bg
        {
            background-color:$news3Color;
        }
        .news-level-2-bg
        {
            background-color:$news2Color;
        }
        .news-level-1-bg
        {
            background-color:$news1Color;
        }
    }
    // Utility for setting *minimum* width to 100
    .min-w-100
    {
        min-width:100%;
    }
    // Utility that uses flex for vertically aligning text
    .d-flex-v-middle
    {
        display: flex;
        align-items: center;
    }
    // Helper for checkbox forms that fixes the padding/margin of the checkbox
    .checkbox-inline-fixup
    {
        // Padding used by form-inline
        padding-left:16px;
        // Negates the size that the checkbox is offset from its parent
        margin-left: 1.25rem;
    }
    // Styles for the base (front page)
    .app-base
    {
        background-image: url('fbedf.jpg');
        background-color: #e9e9e9;
        background-repeat: no-repeat;
        .appMenu
        {
            margin-top:4em;
        }
    }
    // Styles for the top menu
    .header-menu
    {
        margin-top:2em;
        margin-bottom:2em;
        // Styles for the search bar on the top
        .topSearch
        {
            @media(max-width: map-get($grid-breakpoints,"sm"))
            {
                margin-right:-1em;
            }
            input
            {
                transition: all .25s ease 0s;
                border-right:0px;
                padding-right: 25px;
                width:75px;
                display:inline-block;
                &:not(:placeholder-shown)
                {
                    width:100px;
                }
            }
        }
        // Styling of the search button displayed on smaller screens
        .searchButton
        {
            position:absolute;
            right:90px;
            top:14px;
            // To blend in with the rest of the nav bar
            color:$navbar-light-color;
            cursor:pointer;
        }
        .menuButtonWrapper
        {
            display:inline-block;
            .menuButton
            {
                display:inline;
            }
        }
        /*
         * Implements our expanding search field on mobile.
         * This will hide the logo and expand the search field to take its
         * place.
         */
        @media(max-width: map-get($grid-breakpoints,"sm"))
        {
            .BrandLogo
            {
                transition: all .25s ease 0s;
                width:146px;
                img
                {
                    float:left;
                }
            }
            .topSearch:focus-within ~ .BrandLogo
            {
                overflow:hidden;
                width:0px;
            }
        }
        @media(max-width: map-get($grid-breakpoints,"md"))
        {
            .topSearch input
            {
                &:focus
                {
                    @media(min-width: 350px)
                    {
                        width:220px !important;
                    }
                    @media(min-width: 300px)
                    {
                        width:200px !important;
                    }
                    @media(min-width: 400px)
                    {
                        width:270px !important;
                    }
                }
            }
        }
        // Handles the search field being too large on extremely tiny screens.
        // On these screens we make the "field" practically invisible, hidden
        // underneath the search icon.
        @media(max-width: 340px)
        {
            .topSearch
            {
                input
                {
                    color:transparent;
                    width:10px;
                    border-bottom:1px transparent;
                    &:focus
                    {
                        color:black;
                    }
                }
                margin-right:-1em;
            }
        }
    }
    .mainMenu
    {
        padding-top:2em;
        padding-bottom:2em;
    }
    /*
     * The iOS app needs some custom styles to handle it having a "back" arrow
     * in the menu, where all others only have the logo
     */
    // Calculator explanations
    .calcExplanationEntry
    {
        display: flex;
        align-items:center;
        &.header
        {
            font-weight:bold;
        }
        .fraction
        {
            flex: 1;
            flex-grow: 0;
            white-space: nowrap;
            text-align:center;
            .above,.below
            {
                line-height:1em;
                font-size:80%;
            }
            .above
            {
                border-bottom: 1px solid;
            }
        }
        .fractionComponent
        {
            padding-right: 0.2em;
        }
        .fractionResult
        {
            padding-left: 0.5em;
        }
        .fractionResult,.fractionComponent
        {
            display: flex;
            flex: 1;
            flex-grow: 0;
            align-items:center;
            white-space: nowrap;
        }
    }
    // Styles specific to the iOS app
    .ios-brand, .ios-menu-back
    {
        padding-top:5px;
    }
    .ios-brand
    {
        max-height:50px;
        white-space:nowrap;
        text-align:left;
        img
        {
            float:none !important;
            display:inline-block;
        }
    }
    .ios-menu-back
    {
        padding-right:5px;
        display:inline-block;
        &.ios-menu-back-inactive
        {
            color:#e1d8d8;
        }
    }
    // >phone styles
    @media(min-width: map-get($grid-breakpoints,"sm"))
    {
        .font-size-70-sm
        {
            font-size:70%;
        }
    }
    // Desktop styles
    @media(min-width: map-get($grid-breakpoints,"lg"))
    {
        .contentWrapper
        {
            margin-top:1em;
            box-shadow: 2px 2px 5px #d3d7cf;
        }
        .topSearch input
        {
            transition: all .5s ease 0s;
            &:focus
            {
                width: 300px !important;
            }
        }
        .app-handbook
        {
            .LabValueTables
            {
                width:932px;
            }
        }
        .wordDefinitionPopover
        {
            min-width:40em;
        }
    }
    // Large desktop styles
    @media(min-width: map-get($grid-breakpoints,"xl"))
    {
        .header-menu
        {
            .topSearch input
            {
                &:focus
                {
                    width: 350px !important;
                }
            }
        }
    }
    // Tablet styles
    @media(min-width: map-get($grid-breakpoints,"md"))
    {
        .app-handbook
        {
            .LabValueTables
            {
                width:690px;
            }
            .Select
            {
                z-index:20;
            }
        }
    }
    // Phone styles
    @media(max-width: map-get($grid-breakpoints,"md") - 1px )
    {
        // Enable breaking when required to avoid overflow
        h1,h2,h3,h4,h5
        {
            overflow-wrap:break-word;
            // Note: hyphens is poorly supported in WebEngine-based browsers
            // (Chrome, Android Webview et.al.).  As of writing it doesn't support
            // it on Linux/Windows, but does on macOS, and, more importantly, on
            // Android (which is where we need it). Webkit supports it via prefix,
            // and Firefox supports it fully.
            @include prefix(hyphens,auto);
        }
        input[type="number"]
        {
            min-width:48px;
        }
        .form-inline
        {
            input
            {
                display:inline;
            }
            .form-group
            {
                min-width:35%;
            }
        }
        .mobile-group
        {
            width:100%;
        }
        @media (orientation: portrait) {
            .mobileOverflowScrolling
            {
                overflow-x: scroll;
                > *
                {
                    min-width:29rem;
                }
            }
        }
        // Avoid overflow that results in the UI breaking on phones. "breaking"
        // is defined as the UI overflowing the viewport, resulting in the UI
        // horizontally scrolling when it's not suppose to.
        //
        // Note that overflow-wrap/hyphens is also applied to avoid content
        // being "invisible".
        &,.mainContent
        {
            overflow-x:hidden;
        }
    }
    // Small phone styles
    @media(max-width: map-get($grid-breakpoints,"sm"))
    {
        // Hack to align the checkboxes for toggling calculator settings
        .calculator-descriptions
        {
            .form-inline
            {
                margin-left:12px;
            }
        }
        // Hack to align the checkbox for toggling languages
        .app-external, .app-search
        {
            .form-check-label
            {
                margin-left:21px;
            }
        }
    }
}

/*
 * This removes the IE- (but not Edge) and webkit-specific "clear field"
 * styling on search fields.  It's nonstandard and conflicts with our own
 * styling of the search field.
 */
input[type="search"]::-ms-clear {
    display:none;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
